.masthead {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20rem 0;
  padding-bottom: 0.5rem;
  background: linear-gradient(to bottom, #{fade-out(#ee48da38, .1)} 0%,#{fade-out($black, .9)} 75%,#161616 100%), url('../img/background-mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .title-text {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
    -webkit-text-fill-color: azure;
    -webkit-background-clip: text;
  }
  h2 {
    max-width: 20rem;
    font-size: 2rem;
  }
  .mast-button {
    font-size: 60%;
    padding: .5rem 1rem;
  }

  .text-white-50{
    color: azure !important;
  }

  @media (min-width: 360px), (min-width: 375px) {
    background: linear-gradient(to bottom, #{fade-out(#ee48da38, .1)} 0%,#{fade-out($black, .9)} 75%,#161616 100%), url('../img/background-tablet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: auto;
    padding: 8rem 0;

    .mast-button {
      font-size: 70%;
      padding: .85rem 1.5rem;
    }
  }
  
  @media(min-width: 400px), (min-width: 390px), (min-width: 375px), (min-width: 412px) {
    background: linear-gradient(to bottom, #{fade-out(#ee48da38, .1)} 0%,#{fade-out($black, .9)} 75%,#161616 100%), url('../img/background-tablet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: auto;
    padding: 9rem 0;

    .mast-button {
      font-size: 70%;
      padding: .85rem 1.5rem;
    }
  }

  @media(min-width: 558px) {
    background: linear-gradient(to bottom, #{fade-out(#ee48da38, .1)} 0%,#{fade-out($black, .9)} 75%,#161616 100%), url('../img/background-tablet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: auto;
    padding: 20rem 0;

    .mast-button {
      font-size: 80%;
      padding: 1.5rem 2rem;
    }
  }

  @media(min-width: 565px) {
    background: linear-gradient(to bottom, #{fade-out(#ee48da38, .1)} 0%,#{fade-out($black, .9)} 75%,#161616 100%), url('../img/background-tablet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: auto;
    padding: 18rem 0;

    .mast-button {
      font-size: 80%;
      padding: 1.5rem 2rem;
    }
  }

  @media(min-width: 768px) {
    background: linear-gradient(to bottom, #{fade-out(#ee48da38, .1)} 0%,#{fade-out($black, .9)} 75%,#161616 100%), url('../img/background-tablet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: auto;
    padding: 18rem 0;

    .mast-button {
      font-size: 80%;
      padding: 1.5rem 2rem;
    }

    .title-text {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  @media(min-width: 992px) {
    background: linear-gradient(to bottom, #{fade-out(#ee48da38, .1)} 0%,#{fade-out($black, .9)} 75%,#161616 100%), url('../img/back-new.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: auto;

    height: 135vh;
    .title-text {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 3.25rem;
    }
  }
}
